.page-header {margin-top: 10px;}

.topbar {list-style: none; padding: 0 0 9px 0; border-bottom: 1px solid #EEEEEE;}
.topbar li {float: left;}
.topbar li.separator {border-left: 2px solid #EEEEEE; margin: 0 10px; height: 30px;}

.sidebar {border-right: 1px solid #EEEEEE;}
.presence-list {overflow: auto; height: 150px;}

/* Only local stream should be rotated. Don't fool other people. */
.local-stream   {transform: rotateY(180deg); -webkit-transform: rotateY(180deg);
                 border: 3px solid green;}
.remote-stream  {border: 3px solid red;}
.teacher-stream {border: 3px solid red;}
.video-thumbnail {cursor: pointer;}

.original-size {width: 640px; height: 480px;}
/* additional 6px to account for border */
.medium-size   {width: 326px; height: 246px;}
.small-size    {width: 166px; height: 126px;}

#chatbox {list-style: none; padding-left: 0;}
#chatbox {overflow-y: auto; overflow-x: hidden; height: 240px;}

#remote_streams {overflow: auto; width: 182px; height: 354px; line-height: 1;}

#user_stream    {position: absolute; top: 0px;}
#remote_streams {position: absolute; top: 126px; left: 655px;}

#remote_streams video {padding: 0; margin: 0; margin-bottom: -2px;}
